[run]

relative_files = True
source = src
branch = True
omit =
    **/__main__.py
    **/__init__.py
    **/main.py
    **/libs/

[report]

exclude_lines =
    if __name__==.__main__.:
    if __name__ == .__main__.: